.container {
	max-width: 1170px;
	padding: 0 10px;
	margin: 0 auto;
}

body {
	font: 400 14px/24px "Roboto", sans-serif;
	color: #6d7396;
}

.title__section {
	font: 800 44px/54px Montserrat;
	color: #3b404f;
	text-align: center;
}
.subtitle__section {
	text-align: center;
	max-width: 650px;
	margin: 0 auto;
	margin-top: 15px;
	line-height: 24px;
	margin-bottom: 100px;
}

/*header*/

/*header__top*/
.header__top {
	background-color: #f5f5f5;
}

.header__top__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 55px;
}
.header__top__question {
	color: #696969;
	cursor: pointer;
}
.header__top__question:hover {
	text-decoration: underline;
}
.header__top__contacts {
	color: #696969;
}
.header__top__email {
	margin-right: 35px;
	padding-left: 25px;
	background: url(../img/icons/letter.png) left no-repeat;
}

.header__top__phone {
	padding-left: 20px;
	background: url(../img/icons/phone.png) left no-repeat;
}

/*/header__top*/

/*header__body*/
.header__body__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100px;
}
.header__body__list {
	display: flex;
	justify-content: space-around;
}
.header__nav__item {
	margin-right: 25px;
}
.header__nav__item:last-child {
	margin-right: 0;
}
.header__nav__link {
	color: #3b404f;
}
.header__nav__link:hover,
.header__nav__link-active {
	color: #fab702;
}

/*/header__body*/
/*/header*/

/* hero */
.hero {
	background-color: #a7a9fe;
}

.hero__block {
	padding: 180px 0;
	color: #fff;
}

.hero__title {
	font: 800 65px/81px "Montserrat", sans-serif;
	text-transform: uppercase;
	max-width: 620px;
	margin-bottom: 25px;
}

.hero__text {
	max-width: 450px;
	margin-bottom: 25px;
}
.hero__btn {
	background-color: #fab702;
	text-align: center;
	padding: 20px 45px;
	color: #fff;
	transition: background-color 0.5s;
}
.hero__btn:hover {
	background-color: #000;
}
/* /hero */

/*contactUs*/
.contact {
	background-color: #fab702;
}

.contact__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100px;
}

.contact__inf__text {
	color: #fff;
	font-size: 30px;
}
.contact__ing__text-black {
	color: #000;
	font-size: 30px;
	font-style: italic;
	border-bottom: 3px solid #000;
}
.contact__btn__item {
	background-color: #fff;
	color: #fab702;
	padding: 15px 45px;
	transition: background-color 0.5s;
}
.contact__btn__item:hover {
	background-color: #000;
}
/*contactUs*/

/*services*/

.services__block {
	padding: 100px 0;
}

.services__row {
	display: flex;
	justify-content: space-between;
	margin: 0 -19px;
}
.services__item {
	padding: 0 19px;
	display: flex;
	flex-direction: column;
}
.services__item__img {
	max-width: 350px;
	min-height: 200px;
}
.services__item__img-orange {
	background-color: #fab702;
}
.services__item__img-grey {
	background-color: #d0a7fe;
}
.services__item__title {
	font: bold 22px/30px "Montserrat", sans-serif;
	text-transform: uppercase;
	margin: 20px 0;
}
.title-renovations {
	color: #fab702;
}
.title-consulting,
.title-smart {
	color: #3b404f;
}
.services__item__text {
	margin-bottom: 10px;
}
.services__item__link {
	color: #6d7396;
	text-transform: uppercase;
}
.services__item__link:hover,
.services__item__link-active {
	color: #ffb700;
	text-decoration: underline;
}
/*    .services__item__btn; */

/*functions*/
.functions__row {
	display: flex;
}

.functions__video {
	flex: 0 0 50%;
	background-color: #ffce50;
}

.functions__descr {
	width: 100%;
	background-color: #f8f8f8;
	padding: 130px 0;
}
.functions__items {
	max-width: 520px;
	margin-left: 35px;
}
.functions__item {
	margin-bottom: 50px;
	padding-left: 75px;
}
.functions__item:last-child {
	margin-bottom: 0;
}
.functions__item__title {
	font: bold 22px/30px "Montserrat", sans-serif;
	color: #ffb700;
	margin-bottom: 20px;
}

.item__house-1 {
	background: url(../img/icons/house-1.png) left no-repeat;
}

.item__house-2 {
	background: url(../img/icons/house-2.png) left no-repeat;
}

.item__house-3 {
	background: url(../img/icons/house-3.png) left no-repeat;
}
/* /functions */

/* works */
.works {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.works__nav {
	display: flex;
	margin-bottom: 60px;
}
.work__nav__item {
	margin-right: 15px;
}
.work__nav__item:last-child {
	margin-right: 0;
}
.work__nav__link {
	color: #212121;
}
.work__nav__link:hover,
.work__nav__link-active {
	color: #ffb700;
	text-decoration: underline;
}
.works__items {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.work__item {
	flex: 0 0 33.3333333333%;
	min-height: 230px;
}
.work__item-1 {
	background-color: #fec0a7;
}
.work__item-2 {
	background-color: #fab702;
}
.work__item-3 {
	background-color: #a7a9fe;
}
.work__item-4 {
	background-color: #fef9a7;
}
.work__item-5 {
	background-color: #a7fedc;
}
.work__item-6 {
	background-color: #d0a7fe;
}

/*/works*/

/*feedbacks*/
.feedbacks {
	padding: 100px 0;
}

.feedbacks__row {
	display: flex;
	justify-content: space-between;
	margin: 0 -14px;
}
.feedbacks__item {
	flex: 1 1 50%;
	padding: 0 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f9f9f9;
}

.feedbacks__item__img {
	flex: 0 1 130px;
	height: 170px;
	background-color: #eb768c;
}

.feedbacks__item__msg {
	flex: 0 0 70%;
}
.feedbacks__item__msg p {
	margin-bottom: 25px;
}
.feedbacks__item__author {
	font-size: 11px;
	color: #3b404f;
	text-transform: uppercase;
}
.feedbacks__company {
	margin-top: 140px;
	display: flex;
	justify-content: center;
}

.feedbacks__company__item {
	flex: 0 1 22%;
	height: 115px;
}
.company__1 {
	background: url(../img/icons/company__1.png) no-repeat;
}
.company__2 {
	background: url(../img/icons/company__2.png) no-repeat;
}
.company__3 {
	background: url(../img/icons/company__3.png) no-repeat;
}
.company__4 {
	background: url(../img/icons/company__4.png) no-repeat;
}
/*/feedbacks*/

/*counts*/
.counts {
	background-color: #fab702;
}

.counts__row {
	min-height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.counts__item {
	flex: 0 1 22%;
	text-align: center;
}

.counts__title {
	font-size: 13px;
	color: #fff;
	line-height: 24px;
}
.counts__number {
	font: 50px "Montserrat";
	color: #fff;
}
/*/counts*/

/*contactUs*/
.contactUs {
	background-color: #f9f9f9;
	padding: 100px 0;
}
.contactUs__row {
	min-height: 110px;
	border-left: 4px solid #fab702;
	border-right: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contatUs__descr {
	flex: 0 1 70%;
}

.contactsUs__title {
	font: 20px/24px "Montserrat";
	color: #3b404f;
	margin-bottom: 10px;
}

.contactUs__btn__item {
	color: #fff;
	text-transform: capitalize;
	background-color: #fab702;
	padding: 10px 25px;
}

/*/contactUs*/

/*news*/
.news {
	padding: 100px 0;
}

.news__row {
	display: flex;
	justify-content: space-between;
	margin: 0 -15px;
}

.news__item {
	flex: 0 1 33.3333333333%;
	padding: 0 15px;
}
.news__item__img {
	min-height: 230px;
}
.img__blue {
	background-color: #a7a9fe;
}
.img__orange {
	background-color: #fab702;
}
.img__violet {
	background-color: #d0a7fe;
}
.news__item__title {
	font: bold 22px/30px "Montserrat";
	color: #3b404f;
	text-transform: uppercase;
	margin: 25px 0 5px 0;
}
.news__item__date {
	padding-left: 15px;
	background: url(../img/icons/date.png) left no-repeat;
	font: 11px "Roboto";
	color: #6d7396;
	margin-bottom: 20px;
}
.news__item__text {
	margin-bottom: 10px;
}
.news__item__btn a {
	text-transform: uppercase;
	color: #6d7396;
	font: 400 14px/24px "Roboto";
}
.news__item__btn a:hover,
a.news__item__btn__active {
	color: #ffb700;
	text-decoration: underline;
}

/*inf*/
.inf {
	background-color: #252c3a;
	padding: 55px 0 95px 0;
}
.inf__row {
	display: flex;
	justify-content: space-between;
	margin: 0 -14px;
}
.inf__item {
	flex: 0 1 25%;
	padding: 0 14px;
}

.inf__item__title {
	color: #fff;
	margin-bottom: 30px;
}

.inf__questions__item {
	padding-left: 13px;
	padding-bottom: 10px;
	margin-top: 10px;
	font-size: 13px;
	color: #fff;
	border-bottom: 1px solid #303744;
	background: url(../img/icons/inf-arrow.png) left 5px no-repeat;
}
.inf__questions__item:first-child {
	margin-top: 0;
}
.inf__questions__item:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
.clearfix::before,
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.inf__block__news {
	padding-bottom: 10px;
	border-bottom: 1px solid #303744;
	margin-top: 10px;
}
.inf__block__news:first-child {
	margin-top: 0;
}
.inf__block__news:last-child {
	padding-bottom: 0;
	border: none;
}
.inf__news__img {
	width: 60px;
	height: 60px;
	margin-right: 15px;
	float: left;
}
.news__img__red {
	background-color: #ff7b7b;
}
.news__img__blue {
	background-color: #7bffee;
}
.inf__news__text {
	font-size: 13px;
	color: #fff;
	line-height: 20px;
}
.inf__news__text span {
	display: inline-block;
	font-size: 10px;
}

.inf__contacts__style {
	color: #fff;
	font-size: 13px;
	line-height: 22px;
	padding-left: 25px;
	padding-bottom: 10px;
	border-bottom: 1px solid #303744;
}
.inf__contacts__mail {
	background: url(../img/icons/inf-letter.png) left 4px no-repeat;
}
.inf__contacts__phones {
	margin-top: 10px;
	background: url(../img/icons/inf-phone.png) left 9px no-repeat;
}
.inf__contacts__address {
	margin-top: 10px;
	background: url(../img/icons/inf-location.png) left 5px no-repeat;
}
.inf__contacts__socials {
	margin-top: 10px;
}
.socials__items {
	margin-left: 15px;
	display: inline-block;
	width: 19px;
	height: 18px;
}
.social__facebook {
	background: url(../img/icons/inf-facebook.png) no-repeat;
	margin-left: 0;
}
.social__skype {
	background: url(../img/icons/inf-skype.png) no-repeat;
}
.social__pinterest {
	background: url(../img/icons/inf-pinterest.png) no-repeat;
}

.inf__feedback__text {
	font-size: 13px;
	color: #fff;
	line-height: 22px;
	margin-bottom: 10px;
}
.inf__feedback__form {
	margin-bottom: 15px;
}
.inf__feedback__input {
	font-size: 12px;
	color: #969595;
	padding: 11px 10px;
	display: inline-block;
	width: 70%;
	border: none;
}
.inf__feedback__submit {
	font: 12px "Roboto";
	color: #fff;
	padding: 11px 15px;
	display: inline-block;
	width: 30%;
	border: none;
	text-transform: uppercase;
	background-color: #fab702;
	cursor: pointer;
}
.inf__feedback__privacy {
	font: 12px/22px;
	color: #919191;
	text-transform: capitalize;
}

/*footer*/
.footer {
	background-color: #4c5b6d;
}

.footer__row {
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__company {
	font-size: 13px;
	color: #d8deff;
	text-transform: uppercase;
}

.footer__nav {
	display: flex;
	justify-content: space-between;
}
.footer__nav__item {
	margin-left: 15px;
}
.footer__nav__item:first-child {
	margin-left: 0;
}
.footer__nav__link {
	font: 400 13px "Roboto", sans-serif;
	color: #d8deff;
}
.footer__nav__link:hover {
	text-decoration: underline;
}
